.btn {
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--white);
  font-size: 12px;
  padding: 9px 12px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--blue-600);
  transition: background-color ease 0.5s;
  &:hover {
    background: var(--blue-500);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
