.wrapper {
    display: flex;
    justify-content: center;
    margin: 25px 0 10px;
    .pagination {
        display: flex;
        align-items: center;
        gap: 8px;
        .list {
            display: flex;
            flex-wrap: nowrap;
            gap: 6px;
            list-style: none;
            li {
                display: flex;
                align-items: center;
                padding: 4px 10px;
                font-size: 12px;
                font-weight: 400;
                border-radius: 4px;
                border: 1px solid #dbdbdb;
                cursor: pointer;
                &:hover {
                    background-color: #3c53d7;
                    border: 1px solid #cacaca;
                    color: #fff;
                }
                &.active {
                    background-color: #3c53d7;
                    border: 1px solid #384ece;
                    color: #fff;
                }
                &:not(.active) {
                    background-color: transparent;
                    color: #727179;
                }
            }
        }
        button {
            display: flex;
            align-items: center;
            font-size: 14px;
            padding: 6px 5px;
            border-radius: 4px;
            border: 1px solid #dbdbdb;
            color: rgb(130, 130, 130);
            background-color: transparent;
            cursor: pointer;
            transition: all 0.2s ease;
            &:hover {
                border: 1px solid #cdcdcd;
                color: rgb(93, 93, 93);
            }
            &:hover:not(:disabled) {
                border: 1px solid #cdcdcd;
                color: rgb(122, 122, 122);
            }
            &:disabled {
                color: #e9e9e9;
                border: 1px solid #e9e9e9;
                cursor: not-allowed;
            }
        }
    }
}