.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .title {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
  }
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: var(--blue-50);
      color: var(--blue-600);
      font-size: 22px;
      border-radius: 50%;
    }
    .user {
      flex-direction: column;
      .name {
        font-size: 14px;
        font-weight: 600;
      }
      .value {
        font-size: 13px;
        color: var(--gray-600);
      }
    }
  }
}
