.stepsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    position: relative;
    .step {
        display: flex;
        min-height: 80px;
        flex-direction: column;
        align-items: center;
        position: relative;
        flex: 1;
        .active {
            background-color: #379492;
        }
    }
}

.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #aeb2bd;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 1;
}

.completed {
    background-color: #424e64;
}

.label {
    margin-top: 8px;
    text-align: center;
    font-size: 11px;
}

.activeLabel {
    font-weight: 600;
    font-size: 13px;
}

.line {
    position: absolute;
    top: 16px;
    right: -50%;
    width: 100%;
    height: 2px;
    background-color: #aeb2bd;
    z-index: 0;
}

.step:last-child .line {
    display: none;
}