.stepsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
  .stepsContent {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  .step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-height: 80px;
    .active {
      background-color: #379492;
    }
  }
}

.customSteps {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  :global(.ant-steps-item-title) {
    font-weight: 400;
  }
  :global(.ant-steps-item:hover .ant-steps-item-title) {
    color: #379492 !important;
  }
  :global(.ant-steps-item-process.ant-steps-item-active .ant-steps-item-title) {
    font-weight: 600;
  }
  :global(.ant-steps-item-icon) {
    width: 32px;
    height: 32px;
    color: #ffffff !important;
    font-size: 14px;
  }
  :global(.ant-steps-item-process .ant-steps-item-icon) {
    background-color: #43b8b6 !important;
    border-color: #46b5b3 !important;
  }
  :global(.ant-steps-item-finish .ant-steps-item-icon) {
    background-color: #379492 !important;
    border-color: #358e8d !important;
  }
  :global(.ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon) {
    color: white;
  }
  :global(.ant-steps-item-process.ant-steps-item-active::before) {
    background-color: #43b8b6 !important;
  }
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #aeb2bd;
  z-index: 1;
  font-weight: bold;
  color: #fff;
}

.completed {
  background-color: #424e64;
}

.label {
  margin-top: 8px;
  text-align: center;
  font-size: 11px;
}

.activeLabel {
  font-weight: 600;
  font-size: 13px;
}

.line {
  position: absolute;
  top: 16px;
  right: -50%;
  width: 100%;
  height: 2px;
  background-color: #aeb2bd;
  z-index: 0;
}

.step:last-child .line {
  display: none;
}
