.checkbox {
    display: flex;
    background-color: #f8faff;
    padding: 6px 0;
    border: 1px solid #dce4e8;
    border-radius: 20px;
    position: relative;
    .header {
        outline: none;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        transition: all .3s ease-in;
        color: #15141f;
        cursor: pointer;
        .placeholder {
            color: #48474c;
            font-size: 12px;
            font-weight: 600;
        }
    }
    img {
        margin-left: 5px;
        width: 16px;
        filter: brightness(0) saturate(100%) invert(72%) sepia(14%) saturate(252%) hue-rotate(187deg) brightness(90%) contrast(89%);
    }
}

.menu {
    position: absolute;
    overflow-y: auto;
    top: 40px;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 250px;
    border-radius: 12px;
    padding: 20px;
    z-index: 10;
    scrollbar-width: thin;
    scrollbar-color: #d2d4d7 #aeb1b6;
    background-color: #fff;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.btn_checkbox {
    position: relative;
    width: 100%;
    outline: none;
    border: 1px solid #dce4e8;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 24px;
    margin-bottom: 22px;
    transition: all .3s ease-in;
    color: #1a1c1e;
    background-color: #fff;
    cursor: pointer;
    &:focus {
        outline: none;
        border: 1px solid #1a1c1e;
    }
}

.container {
    display: flex;
    height: fit-content;
    align-items: center;
    position: relative;
    margin-bottom: 23px;
    padding-left: 28px;
    font-family: inherit;
    font-weight: 300;
    font-size: 13.5px;
    cursor: pointer;
    input {
        display: none;
    }
    input:checked~.checkmark {
        border: 1px solid #6c6978;
        background-color: #6c6978;
        transition: background-color .5s ease-in-out;
    }
    input:disabled~.checkmark {
        background-color: #edf0f7;
        border: 1px solid #dbdbdb;
        cursor: not-allowed;
    }
    input:checked~.checkmark:after {
        display: block;
    }
    .checkmark:after {
        width: 4px;
        height: 11px;
        top: 1px;
        border: solid #ffffff;
        border-width: 0 1.5px 1.5px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    label {
        color: #1a1c1e;
        font-size: 13px;
        cursor: pointer;
    }
}

.container:hover input~.checkmark {
    border: 1px solid #6c6978;
}

.checkmark {
    position: absolute;
    left: 0;
    height: 17px;
    width: 17px;
    border: 1px solid #d3d6e0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: border-color .5s ease-in-out;
    &::after {
        content: "";
        position: absolute;
        display: none;
    }
}

.btn_checkbox {
    height: 35px;
    width: 100px;
}