.wrapper {
  display: flex;
  justify-content: center;
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    h1 {
      font-size: 20px;
      margin-bottom: 15px;
    }
    img {
      width: 100%;
    }
  }
}
