.block {
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: var(--blue-500);
    border-radius: 50%;
    background-color: var(--blue-25);
  }
  .title {
    font-size: 14px;
    line-height: 1;
    margin: 0;
  }
}
