.wrapper-tab {}

.container {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    overflow-x: scroll;
    border-right: 1px solid #dadddc;
    border-left: 1px solid #dadddc;
    border-top: 1px solid #dadddc;
}

.table {
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
    th,
    td {
        padding: 14px 10px;
        text-align: center;
        font-size: 13px;
        border-bottom: 1px solid #dadddc;
    }
    th:not(.checkbox-column),
    td:not(.checkbox-column) {
        min-width: 190px;
    }
    tr:nth-child(even) {
        background-color: #f9fbff;
    }
    th select {
        width: 100%;
        padding: 5px;
        font-size: 14px;
    }
}

.checkbox-column {
    width: 40px;
    text-align: center;
}

.checkbox {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 300;
    font-size: 17px;
    input {
        display: none;
    }
    input:checked~.checkmark {
        border: 1px solid #3c52d6;
        background-color: #3c52d6;
    }
    input:disabled~.checkmark {
        background-color: #8e91a0;
        border: 1px solid #8e91a0;
        cursor: not-allowed;
    }
    input:checked~.checkmark:after {
        display: block;
    }
    .checkmark:after {
        width: 4px;
        height: 10px;
        top: 2px;
        border: solid #fff;
        border-width: 0 1.5px 1.5px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.checkbox:hover input~.checkmark {
    border: 1px solid #e0e3ea;
}

.checkmark {
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #d3d6e0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    &::after {
        content: "";
        position: absolute;
        display: none;
    }
}

.serviceable,
.not-serviceable {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
        font-size: 16px;
        margin-right: 3px;
    }
}

.serviceable {
    .icon {
        color: #76c250;
    }
}

.not-serviceable {
    .icon {
        color: #ff6968;
    }
}