.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 7px 12px;
  font-size: 12px;
  border: none;
  border-radius: 7px;
  transition: all ease 0.5s;
  cursor: pointer;
}
.delete {
  border: 1px solid var(--gray-400);
  color: var(--gray-600);
  &:hover {
    background-color: var(--red-500);
    border: 1px solid var(--red-500);
    color: var(--white);
  }
}
.reset {
  border: 1px solid var(--gray-600);
  color: var(--gray-600);
  &:hover {
    background-color: var(--gray-600);
    color: var(--white);
  }
}
.apply {
  background-color: var(--blue-600);
  color: var(--white);
  &:hover {
    background-color: var(--blue-500);
  }
  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}
