.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    background-color: #e9eef3;
    .innerWrapper {
        padding: 8mm;
        box-sizing: border-box;
        position: relative;
        background-color: #ffffff;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        .logo {
            position: absolute;
            display: flex;
            right: 25px;
            top: 15px;
            align-items: center;
            margin-bottom: 30px;
            span {
                color: #40485b;
                font-weight: 800;
                display: inline-block;
                padding: 0 3px;
                font-size: 15px;
            }
            .icon {
                font-size: 35px;
                color: #45a19f;
            }
        }
        .inner {
            width: 210mm;
            padding: 10mm;
            min-height: 297mm;
            background: #ffffff;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .header {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 25px;
                text-align: center;
                .number {
                    font-size: 16px;
                    span {
                        font-weight: 400;
                        font-size: 15px;
                        display: inline-block;
                        padding: 0 5px;
                    }
                }
                .date {
                    font-size: 15px;
                    font-weight: 400;
                }
                .df {
                    font-weight: 400;
                }
            }
            .signatures {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: auto;
                .item {
                    .user {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        font-size: 13px;
                    }
                    .pic {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        padding: 10px;
                        width: 150px;
                        height: 90px;
                        img {
                            max-width: 100%;
                            height: 100%;
                            object-fit: contain;
                            display: block;
                        }
                        span {
                            font-size: 24px;
                            display: inline-block;
                            padding-left: 5px;
                        }
                    }
                }
            }
            .info {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
    .actions {
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }
}

.filed {
    background-color: transparent;
}

.empty {
    background-color: #f6f7fc;
}