.tag {
  display: flex;
  align-items: center;
  gap: 3px;
  width: fit-content;
  height: fit-content;
}
.success {
  color: var(--green-500) !important;
  border: 1px solid var(--green-200);
  background: var(--green-100) !important;
}
.processing {
  color: var(--blue-500) !important;
  background: var(--blue-50) !important;
}
.default {
}
.error {
  color: var(--red-500) !important;
  border: 1px solid var(--red-200);
  background: var(--red-100) !important;
}
.warning {
  color: var(--yellow-500) !important;
  border: 1px solid var(--yellow-200) !important;
  background: var(--yellow-100) !important;
}
.sm {
  padding: 0px 6px;
  font-size: 10px !important;
  font-weight: 400;
  border-radius: 4px;
}
.md {
  padding: 3px 7px;
  font-size: 11px !important;
  font-weight: 400;
  border-radius: 6px;
}
.lg {
  padding: 6px 12px;
  font-size: 12px !important;
  font-weight: 400;
  border-radius: 8px;
}
