.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0 40px;
    ;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: fit-content;
    .preview {
        display: flex;
        align-items: center;
        width: 260px;
        img {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            border: 1px solid #e5ecef;
            border-radius: 12px;
        }
    }
    form {
        padding: 16px;
        width: 350px;
    }
}

.actions {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}