.container {
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;

  > :nth-child(1) {
    flex: 1 1 220px;
    min-width: 200px;
  }

  > :nth-child(2) {
    flex: 1 1 150px;
    min-width: 120px;
  }
  > :nth-child(3) {
    flex: 1 1 150px;
    min-width: 120px;
  }
  > :nth-child(4) {
    flex: 0 0 40px;
  }
}
