.burger {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50%;
    border: none;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #3d42bc;
    cursor: pointer;
    transition: all .5s ease-out;
    &:hover {
        background-color: #3c53d7;
    }
    .icon {
        color: #fff;
        font-size: 16px;
    }
}