@use '@/shared/styles/tokens' as *;
.dropdown {
  :global(.ant-dropdown-menu) {
    padding: 8px;
  }
  :global(.ant-dropdown-menu-item) {
    padding: 6px 12px !important;
    font-size: 11px !important;
    font-weight: 600 !important;
  }
}

.exportButton {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 0 14px;
  border-radius: $form-control-radius;
  font-size: 12px;
  &:hover {
    border-color: var(--blue-250) !important;
  }
  &:focus-within {
    border-color: var(--blue-250) !important;
    box-shadow: 0 0 0 2px rgba(209, 232, 255, 0.5) !important;
    outline: none !important;
  }
  .icon {
    color: var(--gray-800);
  }
}

.arrow {
  margin-left: 2px;
  font-size: 12px;
}
