.container {
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  > :nth-child(1) {
    flex: 1 1 300px;
    max-width: 400px;
  }
  > :nth-child(2) {
    flex: 1 1 auto;
    max-width: 350px;
  }

  .card {
    :global(.ant-card-body) {
      padding: 15px;
    }
  }
}
