.filters {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  .actions {
    align-items: center;
    gap: 10px;
  }
}

.search {
  flex: 1 1 250px;
  min-width: 250px;
}

.warehouse {
  flex: 1 1 200px;
  min-width: 180px;
}

.person {
  flex: 1 1 220px;
  min-width: 200px;
}

.status {
  flex: 0 1 180px;
  min-width: 150px;
}

.dateRange {
  flex: 0 1 293px;
  min-width: 293px;
}
