.card {
  :global(.ant-card-body) {
    padding: 15px;
  }
  .title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
  }
  .chart {
    width: 100%;
    height: 205px;
  }
  .cardHeader {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
