.wrapper {
    position: relative;
    .error {
        white-space: nowrap;
        color: #dc3546;
        font-size: 11px;
        text-align: start;
        padding: 2px;
    }
    .number {
        display: flex;
        width: fit-content;
        align-items: center;
        border: 1px solid #dce4e8;
        height: 45px;
        padding: 0px 6px;
        border-radius: 20px;
        position: relative;
        transition: all .6s ease-in;
        input {
            width: 70px;
            padding: 10px 5px;
            border: none;
            outline: none;
        }
        .value {
            font-size: 17px;
            font-weight: 600;
            text-align: center;
        }
        .btn-left,
        .btn-right {
            font-size: 33px;
            color: #5e5a68;
            cursor: pointer;
            transition: background-color .1s ease;
            &:hover {
                color: #41485a;
            }
        }
        .label {
            position: absolute;
            background-color: #ffffff;
            padding: 0 5px;
            color: #828890;
            font-size: 11px;
            top: -8px;
            left: 18px;
        }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
}