.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 40px;
        color: #1a1c1e;
    }
    .content {
        display: flex;
        .preview {
            max-width: 300px;
            position: relative;
            border: 1px solid #e5ecef;
            img {
                width: 100%;
                cursor: pointer;
            }
        }
        form {
            width: 300px;
            padding: 20px;
            .actions {
                display: flex;
                justify-content: center;
            }
        }
    }
}