.card {
  transition: box-shadow ease 0.5s;
  &:hover {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }
  .title {
    font-size: 14px;
  }
  .avatar {
    flex: 0 0 auto;
    background: var(--gray-100);
    color: var(--gray-600);
  }
  .permission {
    border-radius: 4px;
    color: var(--muted-blue-600);
    font-weight: 500;
    font-size: 10px;
    background-color: var(--muted-blue-50);
  }
  .label {
    font-size: 11px;
    color: var(--gray-500);
  }
  .text {
    font-size: 12px;
    font-weight: 600;
  }
  .icon {
    color: var(--gray-500);
    size: 12px;
  }
  .actions {
    .deleteBtn {
      color: var(--gray-600);

      &:global(.ant-btn):hover {
        color: var(--red-500);
      }
    }
  }
}
