.container {
  align-items: center;
  gap: 5px;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    color: var(--blue-600);
    border-radius: 10px;
    background-color: var(--blue-50);
  }
  .title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
  }
}
