.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
    span {
        display: inline-block;
        padding: 0 3px;
        color: #f6f7fb;
        font-weight: 800;
    }
    .icon {
        font-size: 45px;
        color: rgb(57, 209, 166);
    }
    .active {
        font-size: 30px;
        color: rgb(57, 209, 166);
    }
}