@mixin table-view {
    .input {
        display: flex;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        border: 1px solid #dce4e8;
        width: 100%;
        border-radius: 20px;
        height: 45px;
        padding: 2px 15px;
        transition: border-color .4s ease-in;
        .icon {
            display: flex;
            align-items: center;
            position: relative;
            margin-right: 8px;
            font-size: 22px;
        }
        .label {
            position: absolute;
            background-color: #ffffff;
            padding: 0 5px;
            color: #828890;
            font-size: 11px;
            top: -6px;
            left: 18px;
        }
         ::placeholder {
            font-weight: 400;
            font-size: 14px;
        }
    }
}

.wrapper {
    width: 100%;
    max-width: 1600px;
    display: flex;
    position: relative;
    .forms {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .preview {
        position: sticky;
        top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 300px;
        margin-right: 20px;
        padding: 10px;
        border: 1px solid #e5ecef;
        border-radius: 12px;
        img {
            width: 100%;
        }
    }
    .form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
        width: 100%;
        margin: 0 auto;
        @include table-view;
    }
    .form4 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 15px;
        width: 100%;
        margin: 0 auto;
        @include table-view;
    }
    .additional-form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
        width: 100%;
        margin: 0 auto;
    }
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 15px 0 40px;
    color: #060606;
}

.actions {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    .ask {
        font-size: 11px;
        color: #8e91a0;
        position: absolute;
        right: 0;
        top: -20px;
        z-index: 1;
        span {
            font-size: 12px;
            color: #060606;
            margin-left: 5px;
            cursor: pointer;
            &:hover {
                color: #3c52d6;
            }
        }
    }
}

.inner {
    background-color: #5792ff;
    .content {
        display: flex;
        align-items: center;
    }
}