.content {
    display: flex;
    align-items: center;
    .preview {
        position: relative;
        margin-right: 20px;
        width: 250px;
        border: 1px solid #e5ecef;
        border-radius: 12px;
        img {
            width: 100%;
            cursor: pointer;
        }
    }
    form {
        width: 300px;
    }
    .tooltip {
        position: relative;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
        .icon {
            font-size: 20px;
        }
        &::after {
            content: attr(data-tooltip);
            position: absolute;
            width: 300px;
            background: #f8faff;
            color: #1a1c1e;
            padding: 15px 20px;
            border-radius: 5px;
            font-size: 14px;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
            bottom: 150%;
            left: 50%;
            transform: translateX(-50%) translateY(15px);
        }
        &::after {
            content: attr(data-tooltip);
            position: absolute;
            width: 300px;
            background: #f8faff;
            color: #1a1c1e;
            padding: 15px 20px;
            border-radius: 5px;
            font-size: 14px;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s, transform 0.3s;
            bottom: 150%;
            left: 50%;
            transform: translateX(-50%) translateY(15px);
        }
        &:focus::after,
        &:hover::after {
            visibility: visible;
            opacity: 1;
            transform: translateX(-50%) translateY(0);
        }
    }
    .actions {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 30px;
    }
}