.inner {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    .layoutLeft {
        width: 300px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-right: 10px;
    }
    .layoutRight {
        display: flex;
        flex-direction: column;
        padding: 10px;
        max-width: 500px;
        h2 {
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            padding: 5px 0 20px;
        }
        .userInfo {
            display: flex;
            flex-direction: column;
            .user {
                padding: 5px;
                .name {
                    font-size: 30px;
                    font-weight: 600;
                }
                .extraName {
                    font-size: 20px;
                    color: #696d7e;
                    margin-bottom: 15px;
                }
            }
            .title {
                font-size: 18px;
                font-weight: 600;
                padding: 5px 0;
                text-align: center;
            }
            .rolesList {
                .role {
                    padding: 15px;
                    margin-bottom: 10px;
                    span {
                        color: #5e6473;
                        font-size: 12px;
                        display: inline-block;
                        padding: 4px 8px;
                        margin: 2px 3px;
                        border-radius: 4px;
                        background-color: #f4f5f7;
                    }
                }
            }
        }
    }
}