.table {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    scrollbar-width: thin;
    border: 1px solid #edf2f7;
    scrollbar-color: #d2d4d7 #aeb1b6;
    margin-top: 20px;
    thead {
        background-color: #fff;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }
    th {
        position: relative;
        border: 1px solid #edf2f7;
        padding: 9px 16px;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
    }
    tr:nth-child(even) {
        background-color: #fafbff;
    }
    .row td {
        font-size: 12.5px;
        font-weight: 400;
        color: #2e3748;
        text-align: center;
        padding: 10px;
        border-right: 1px solid #edf2f7;
        &.status {
            font-size: 21px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #71809d;
            &.active {
                font-size: 18px;
                color: #39b49e;
            }
        }
        .icon {
            color: #535b40;
            display: flex;
            align-items: center;
            font-size: 18px;
            transition: color .5s ease;
            cursor: pointer;
            &:hover {
                color: #f95568;
            }
        }
    }
}