@mixin border {
  border: 1px solid #5d5f6e;
  outline: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  .logo {
    background-color: #5d5f6e;
    display: flex;
    justify-content: center;
  }
  .left {
    overflow: hidden;
    flex: 1;
    height: 100%;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    background-color: var(--bg-primary);
    .form {
      width: 100%;
      padding: 20px;
      max-width: 400px;
    }
  }
}
