.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
    background-color: #dfe2eb;
    .inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        max-height: 80vh;
        width: 100%;
        padding: 50px 30px;
        background-color: #fff;
        box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
        border-radius: 12px;
        overflow-y: auto;
        .title {
            text-align: center;
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 40px;
        }
    }
    .icon {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 35px;
        color: #1a1c1e;
        transition: color .3s ease-in;
        cursor: pointer;
        &:hover,
        &:focus {
            color: #3c53d7;
        }
    }
}