@mixin commonSettings {
    position: relative;
    padding-top: 25px;
    z-index: 10;
    transition: all .2s ease-in;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.active {
    @include commonSettings;
    width: 220px;
    display: flex;
    flex-direction: column;
}

.notactive {
    @include commonSettings;
    width: 70px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}