.inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1000px;
    .form {
        padding: 10px;
    }
    .list {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        max-width: 350px;
        max-height: 350px;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 9px 18px;
            margin-bottom: 8px;
            border: 1px solid #e2e8ef;
            border-radius: 6px;
            .info {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                .name {
                    font-size: 16px;
                    padding: 3px 0;
                    font-weight: 600;
                    overflow: hidden;
                }
                .description {
                    font-size: 12px;
                    color: #646367;
                    padding: 3px 0;
                    overflow: hidden;
                }
            }
            .actions {
                display: flex;
                align-items: center;
                .btn {
                    display: flex;
                    align-items: center;
                    font-size: 19px;
                    margin-left: 15px;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        color: #3d3dbf;
                    }
                }
            }
        }
    }
}