.profile {
  display: flex;
  padding: 20px;
  .content {
    position: relative;
    .menuBtn {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 5px 8px;
      font-size: 11px;
      border-radius: 4px;
      color: var(--blue-600);
      background-color: var(--blue-100);
      border: 1px solid var(--blue-200);
      transition: all ease 0.5s;
      cursor: pointer;
      &:hover {
        color: var(--blue-600);
        border: 1px solid var(--blue-500);
      }
      .icon {
        font-size: 14px;
      }
    }
    .menu {
      position: absolute;
      min-width: 230px;
      width: 100%;
      top: 36px;
      right: 0;
      padding: 20px 0px;
      border-radius: 8px;
      background-color: #ffffff;
      overflow: hidden;
      box-shadow:
        rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
        rgba(42, 51, 69, 0.04) 0px 2px 2px -1px,
        rgba(42, 51, 70, 0.04) 0px 10px 10px -4px,
        rgba(42, 51, 70, 0.04) 0px 20px 20px -8px,
        rgba(14, 63, 126, 0.04) 0px 30px 30px -12px,
        rgba(14, 63, 126, 0.04) 0px 50px 50px -20px;
      z-index: 99;
      .userInfo {
        align-items: center;
        gap: 8px;
        padding: 0px 10px;
        .icon {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          font-size: 15px;
          color: var(--blue-600);
          border-radius: 50%;
          background-color: var(--blue-100);
        }
        .user {
          display: flex;
          flex-direction: column;
          gap: 2px;
          .name {
            font-size: 12px;
            font-weight: bold;
          }
          .email {
            display: inline-block;
            font-size: 11px;
            color: var(--gray-600);
          }
        }
      }
      .block {
        padding: 0px 14px;
        .mainTitle {
          font-size: 10px;
          font-weight: 400;
          text-transform: uppercase;
          color: var(--muted-blue-400);
        }
        .navigation {
          margin-bottom: 10px;
          li {
            padding: 12px 4px;
            &:hover {
              background-color: #fafbff;
            }
            .link {
              display: flex;
              align-items: center;
              gap: 8px;
              color: inherit;
              &:hover {
                color: var(--blue-550);
              }
              .icon {
                font-size: 24px;
                color: var(--gray-700);
              }
              .info {
                display: flex;
                flex-direction: column;
                gap: 3px;
                .title {
                  font-size: 12px;
                  font-weight: 500;
                  color: var(--gray-800);
                }
                .subtitle {
                  font-size: 10px;
                  color: var(--gray-500);
                }
              }
            }
          }
          li:not(:last-child) {
            border-bottom: 1px solid #f1f3f7;
          }
        }
      }
      .logout {
        display: flex;
        justify-content: center;
        .btn {
          padding: 4px 10px;
          font-size: 11px;
        }
      }
    }
  }
}
