.search {
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 20px;
    height: 40px;
    gap: 4px;
    .input {
        flex: 1;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 18px;
        border: 1px solid #d0d6e2;
        background-color: #fefeff;
        padding: 3px 14px;
        input {
            width: 100%;
            border: none;
            outline: none;
            background: transparent;
            padding: 8px 30px 8px 8px;
        }
        .glass {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 19px;
            color: #8e91a0;
        }
        .close {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 5px;
            height: 23px;
            width: 23px;
            padding: 4px;
            font-size: 21px;
            transform: rotate(-3deg);
            color: #8e91a0;
            transition: color .4s ease-in;
            cursor: pointer;
            &:hover {
                color: #424b5c;
            }
        }
    }
    .button {
        background: #379492;
        height: 36px;
        font-size: 11px;
        color: #ffffff;
        border: none;
        border-radius: 8px;
        padding: 6px 12px;
        cursor: pointer;
        white-space: nowrap;
        transition: background-color .4s ease-in;
        &:hover {
            background: #3ea5a4;
        }
    }
}