.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 330px;
    height: 24px;
    border-radius: 20px;
    border: 1px solid #e7e9ef;
    padding: 7px 20px 7px 20px;
    background-color: #fff;
    &:hover {
        border: 1px solid #8e919f;
    }
    input {
        width: 100%;
        border: none;
        outline: none;
    }
    .glass {
        font-size: 18px;
        margin-right: 12px;
    }
}