.middle {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 25px;
  > :nth-child(1) {
    flex: 0 1 340px;
  }
  > :nth-child(2) {
    flex: 1 1 360px;
  }
  > :nth-child(3) {
    flex: 1 1 400px;
  }
}
.bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 25px;
  > :nth-child(1) {
    flex: 1 1 450px;
  }
  > :nth-child(2) {
    flex: 0 1 380px;
  }
}
