.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  padding: 10px;
  img {
    width: 30px;
  }
  .content {
    display: flex;
    flex-direction: column;
    .title {
      font-size: 12px;
      font-weight: 600;
      color: var(--white);
    }
    .description {
      font-size: 10px;
      color: var(--gray-400);
    }
  }
  .active {
    font-size: 30px;
    color: var(--gray-400);
  }
}
