button {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: background-color .3s ease-in;
    cursor: pointer;
}

.sm {
    padding: 6px 12px;
    border-radius: 10px;
    height: 25px;
    font-size: 12px;
    font-weight: 400;
}

.md {}

.lg {
    padding: 12px 18px;
    border-radius: 20px;
    height: 45px;
    font-size: 13px;
    font-weight: 400;
    .icon {
        font-size: 18px;
        margin-right: 6px;
    }
}

.blue {
    background-color: #3c52d6;
    color: #fff;
    margin: 10px;
    &:hover {
        background-color: #2e42b8;
    }
}

.white {
    background-color: #84868c;
    color: #ffffff;
    margin: 10px;
    &:hover {
        background-color: #656569;
    }
}

.red {
    background-color: #ff6a73;
    color: #ffffff;
    margin: 10px;
    &:hover {
        background-color: #656569;
    }
}

.dark {
    background-color: #1a1c1e;
    color: #fff;
    margin: 10px;
    &:hover {
        background-color: #a2a6b7;
    }
}