.button {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease-in;
    margin-top: 25px;
    cursor: pointer;
}

.sm {
    padding: 6px 12px;
    border-radius: 10px;
    height: 25px;
    font-size: 12px;
    font-weight: 400;
}

.md {
    padding: 9px 20px;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 400;
    .icon {
        font-size: 18px;
    }
}

.lg {
    padding: 12px 18px;
    border-radius: 20px;
    height: 45px;
    font-size: 13px;
    .icon {
        display: flex;
        align-items: center;
        font-size: 23px;
    }
}

.blue-green {
    background-color: #81c4db;
    color: #fff;
    &:hover {
        background-color: #60abc5;
    }
    &:focus {
        background-color: #60abc5;
    }
}

.green {
    background-color: #3cb3a1;
    color: #fff;
    &:hover {
        background-color: #41c0ad;
    }
    &:focus {
        background-color: #41c0ad;
    }
}

.grey {
    box-sizing: border-box;
    border: 1px solid #adb1bc;
    background: transparent;
    color: #40495a;
    &:hover {
        background-color: #e7e7ee;
    }
    &:focus {
        background-color: #383c48;
        color: #ffff;
    }
}

.red {
    background-color: #ff6a73;
    color: #ffffff;
    &:hover {}
}

.dark {
    background-color: #5c5f6e;
    color: #fff;
    margin: 10px;
    &:hover {
        background-color: #a2a6b7;
    }
    &:focus {
        border: 2px solid #000000;
    }
}