.block {
    position: relative;
    .tooltip {
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 9;
        top: 0;
        right: -20px;
        border: none;
        background-color: transparent;
        transform: translateY(-50%);
        font-size: 19px;
        color: #40495a;
        cursor: pointer;
        &::after {
            content: attr(data-tooltip);
            position: absolute;
            width: 180px;
            bottom: 125%;
            right: 0;
            background: #f6f8ff;
            box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
            padding: 8px 14px;
            border-radius: 4px;
            text-align: left;
            font-size: 12px;
            line-height: 18px;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.2s ease-in-out;
        }
        &:hover::after {
            opacity: 1;
        }
    }
}