.item {
  gap: 20px;
  padding: 10px;
  cursor: pointer;
  .content {
    display: flex;
    flex-direction: column;
    .user {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      font-size: 13px;
      .title {
        font-size: 11px;
        color: var(--gray-600);
      }
      .value {
        font-size: 12px;
      }
    }
    .pic {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding: 10px;
      width: 150px;
      height: 60px;
      border-radius: 8px;
      margin-bottom: 5px;
      img {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
      .pen {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        color: #5e606f;
        border-radius: 5px;
        background-color: var(--gray-50);
      }
    }
    .time {
      color: var(--gray-600);
      font-size: 10px;
    }
  }
}
.empty {
  border: 1px dashed var(--gray-300);
}
.filed {
  border: 1px dashed var(--green-300) !important;
}
