.inner {
  gap: 20px;
  .header {
    .title {
      margin: 0;
      font-size: 15px;
    }
  }
  .signatures {
    background-color: var(--gray-50) !important;
    border: 1px dashed var(--gray-400);
    border-radius: 12px;
  }
  .actions {
    display: flex;
    gap: 10px;
  }
  .description {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--gray-600);
    font-size: 12px;
  }
}
