* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body,
html {
    background-color: #f1f3f7;
    scrollbar-width: thin;
    scrollbar-color: #d2d4d7 #aeb1b6;
    font-family: "Noto Sans", sans-serif;
}

a {
    text-decoration: none;
}