.sidebar-content {
    padding-left: 10px;
    list-style: none;
    padding: 0;
    position: relative;
    .test {
        position: absolute;
        left: 67px;
        width: 220px;
        height: fit-content;
        background-color: goldenrod;
        z-index: 99;
    }
}

.menu-item {
    margin-bottom: 10px;
    color: brown;
}

.menu-item-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-item-header:hover {
    background-color: #444;
}

.icon {
    width: 21px;
    margin-right: 2px;
    border: none;
    height: auto;
    img {
        width: 100%;
    }
}

.item-name {
    display: inline-block;
    color: rgb(23, 22, 22);
    font-size: 16px;
    transition: opacity 0.3s ease;
}

.submenu-toggle {
    margin-left: auto;
    color: rgb(156, 172, 9);
    font-size: 14px;
}

.submenu {
    padding-left: 20px;
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

.submenu-item {
    display: block;
    color: rgb(39, 6, 82);
    text-decoration: none;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

.submenu-item:hover {
    background-color: #555;
}


/* Всплывающее меню при наведении на иконки */

.menu-item-header:hover .item-name {
    display: inline-block;
    position: absolute;
    left: 90px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(108, 9, 9);
    font-size: 14px;
}


/* Стрелочки для подменю */

.submenu-toggle {
    margin-left: auto;
    font-size: 14px;
}

.submenu-toggle {
    color: rgb(18, 38, 188);
}

.sidebar.open .submenu-toggle {
    transform: rotate(180deg);
}