.list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 450px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 18px;
    margin-bottom: 8px;
    border: 1px solid #e7ebee;
    border-radius: 6px;
    &:hover {
      border: 1px solid #d8dee4;
      box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }
    .info {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .name {
        font-size: 14px;
        line-height: 1.6;
        font-weight: 600;
        overflow: hidden;
      }
      .description {
        font-size: 11px;
        color: var(--gray-600);
        overflow: hidden;
      }
    }
  }
  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
