.group {
    position: relative;
    .userList {
        position: absolute;
        top: 105%;
        left: 0;
        width: 90%;
        z-index: 9;
        padding: 10px;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: rgba(136, 157, 190, 0.3) 5px 2px 12px 0px, rgba(255, 255, 255, 0.8) -5px -2px 12px 0px;
        .info {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }
        .list {
            display: flex;
            flex-direction: column;
            padding: 12px;
            margin-bottom: 5px;
            cursor: pointer;
            &:not(:last-child) {
                border-bottom: 1px solid #e5e7eb;
            }
            &:hover {
                background-color: #f9fafd;
            }
            .name {
                line-height: 24px;
                font-size: 14px;
                font-weight: 600;
            }
            .email {
                line-height: 18px;
                font-size: 13px;
                color: #818593;
            }
        }
    }
}

.actions {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0 40px;
}