.container {
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  > :nth-child(1) {
    flex: 1 1 300px;
    max-width: 700px;
  }
  > :nth-child(2) {
    flex: 1 1 auto;
    max-width: 700px;
  }

  .card {
    :global(.ant-card-body) {
      padding: 15px;
    }
    .blockTitle {
      font-size: 13px;
      margin-bottom: 15px;
    }
  }
}
.role {
  align-items: center;
  gap: 4px;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: var(--blue-400);
    background-color: var(--muted-blue-50);
  }
  .title {
    font-weight: 600;
  }
}

.tag,
.drop {
  background-color: var(--muted-blue-50);
  color: var(--muted-blue-600);
  font-size: 11px;
}
.drop {
  cursor: pointer;
}
.dropTitle {
  font-size: 12px;
}
