.section {
    .header {
        display: flex;
        justify-content: center;
        position: relative;
        .name {
            font-size: 30px;
            display: flex;
            gap: 20px;
            span {
                font-weight: 800;
            }
        }
        .icon {
            position: absolute;
            right: 0;
            font-size: 29px;
            color: #2e3748;
            cursor: pointer;
            transition: background-color .4s ease;
            &:hover {
                color: #35c19a;
            }
        }
    }
}

.wrapper {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    .picture {
        display: flex;
        align-items: center;
        border: 1px solid #e5ecef;
        padding: 20px;
        border-radius: 12px;
        img {
            width: 100%;
        }
    }
    .title {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin: 10px 0;
        font-weight: 600;
        .icon {
            display: flex;
            align-items: center;
            font-size: 20px;
            color: #6d7fa0;
            margin-right: 5px;
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        border: 1px dashed #d0d6dd;
        border-radius: 16px;
        padding: 15px;
    }
    .active {
        position: absolute;
        right: 0;
        top: 42px;
        font-size: 12px;
        display: inline-block;
        padding: 4px 7px 4px 4px;
        border-radius: 8px;
        border: 1px solid #88caaf;
        background-color: #f3fbf6;
    }
    .status-icon {
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 17px;
        color: #169453;
        span {
            font-size: 10px;
        }
    }
    .options {
        width: 100%;
        position: relative;
        .active {
            position: absolute;
            right: 0;
            top: -2px;
            font-size: 12px;
            display: inline-block;
            padding: 4px 7px 4px 4px;
            border-radius: 8px;
            border: 1px solid #34c198;
            background-color: #f3fbf6;
        }
        .status-icon {
            display: flex;
            align-items: center;
            gap: 2px;
            font-size: 17px;
            color: #34c198;
            span {
                font-size: 10px;
            }
        }
        .item {
            font-size: 20px;
            font-weight: 800;
            padding: 5px 0;
        }
    }
    .property {
        display: grid;
        grid-template-columns: auto 1fr min-content;
        white-space: nowrap;
        padding: 3px 0;
        .name {
            text-align: left;
            white-space: nowrap;
            color: #727179;
            font-size: 13px;
        }
        .dots {
            margin: 0 15px 0 10px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: 5px;
                left: 0;
                right: 0;
                border-bottom: 1px dotted rgba(204, 214, 228);
                height: 1px;
            }
        }
        .value {
            text-align: left;
            font-size: 14px;
        }
        .active {
            background-color: #f3fbf6;
            font-size: 12px;
            display: inline-block;
            padding: 4px 7px 4px 4px;
            border-radius: 8px;
            border: 1px solid #88caaf;
        }
        .status {
            display: flex;
            align-items: center;
            gap: 2px;
            font-size: 17px;
            &.available {
                color: #34c198;
            }
            &.unavailable {
                color: #dc4a30;
            }
            span {
                font-size: 11px;
            }
        }
    }
    .price {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .block {
            display: flex;
            align-items: baseline;
            .value {
                font-size: 25px;
                font-weight: 800;
                span {
                    font-size: 12px;
                    font-weight: 300;
                    margin: 0 5px;
                }
            }
            .name {
                font-size: 12px;
                display: flex;
                align-items: last baseline;
                color: #727179;
            }
        }
    }
}

.separate {
    border-bottom: 1px dashed #d0d6dd;
    margin: 10px 0 5px;
}