.title {
    display: flex;
    justify-content: center;
    color: #070707;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}

.wrapper {
    position: relative;
    display: flex;
    .picture {
        position: sticky;
        top: 100px;
        display: flex;
        width: 250px;
        height: 100%;
        margin-right: 20px;
        padding: 10px;
        border: 1px solid #e5ecef;
        border-radius: 12px;
        img {
            width: 100%;
        }
    }
    .text {
        display: flex;
        align-items: center;
        font-size: 14px;
        span {
            font-size: 14px;
            font-weight: 600;
            margin-left: 10px;
        }
    }
}